/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-background-color: white;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-color-primary: #1f83b3;

  --ion-toolbar-opacity: 1;

  --opacity-scale: 1;
  --opacity: 1;

  --sleep: #1f83b3;
  --screen: #e9cf48;
  --games: #52b360;
  --food: #e9cf48;
  --expenses: #8c91c8;
  --tobacco: #f39b80;
  --alcohol: #ed8d4b;
  --cannabis: #52b360;
  --cocaine: #b3569c;
  --other: #8c91c8;
  --note: #6ac5ea;
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

ion-card-header {
  padding: 10px 16px;
}

ion-card-title {
  font-size: 16px;
}

ion-card-header.ion-color-light {
  background-color: #dddedd !important;
}

.ion-color-light ion-card-title {
  color: white !important;
}

ion-card-content {
  padding: 0 !important;
}

ion-grid {
  padding: 0;
}

.day-card ion-grid > ion-row {
  border-bottom: 1px solid #dddedd;
}

.day-card ion-grid > ion-row:last-child {
  border-bottom: none;
}

.addiction-name {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

h3 {
  font-size: 16px !important;
  font-weight: bold !important;
}

.progress {
  height: 18px;
  border-radius: 9px;
  margin-top: 5px;
}

.day-card .sleep {
  color: var(--sleep) !important;
}
.sleep ion-range {
  --bar-background-active: var(--sleep);
}
.sleep .addiction-background {
  background-color: var(--sleep);
}

.day-card .screen {
  color: var(--screen) !important;
}
.screen ion-range {
  --bar-background-active: var(--screen);
}
.screen .addiction-background {
  background-color: var(--screen);
}

.day-card .games {
  color: var(--games) !important;
}
.games ion-range {
  --bar-background-active: var(--games);
}
.games .addiction-background {
  background-color: var(--games);
}

.day-card .food {
  color: var(--food) !important;
}
.food ion-range {
  --bar-background-active: var(--food);
}
.food .addiction-background {
  background-color: var(--food);
}

.day-card .expenses {
  color: var(--expenses) !important;
}
.expenses ion-range {
  --bar-background-active: var(--expenses);
}
.expenses .addiction-background {
  background-color: var(--expenses);
}

.day-card .tobacco {
  color: var(--tobacco) !important;
}
.tobacco ion-range {
  --bar-background-active: var(--tobacco);
}
.tobacco .addiction-background {
  background-color: var(--tobacco);
}

.day-card .alcohol {
  color: var(--alcohol) !important;
}
.alcohol ion-range {
  --bar-background-active: var(--alcohol);
}
.alcohol .addiction-background {
  background-color: var(--alcohol);
}

.day-card .cannabis {
  color: var(--cannabis) !important;
}
.cannabis ion-range {
  --bar-background-active: var(--cannabis);
}
.cannabis .addiction-background {
  background-color: var(--cannabis);
}

.day-card .cocaine {
  color: var(--cocaine) !important;
}
.cocaine ion-range {
  --bar-background-active: var(--cocaine);
}
.cocaine .addiction-background {
  background-color: var(--cocaine);
}

.day-card .other {
  color: var(--other) !important;
}
.other ion-range {
  --bar-background-active: var(--other);
}
.other .addiction-background {
  background-color: var(--other);
}

.hypnotic {
  font-size: 12px;
  font-weight: bold;
}

.hypnotic > ion-col {
  display: flex;
  align-items: center;
}

.day-card .note {
  color: var(--note) !important;
}
.note .addiction-background {
  background-color: var(--note);
}

/* old style from the previous app, can be simplified */
.addiction-card > ion-card-header {
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
  color: white;
  display: flex;
  justify-content: start;
  font-weight: bold;
  font-size: 16px;
}

.periods ion-col {
  text-align: center;
}

.periods ion-img {
  width: 30px;
  margin: auto;
}

.sleeptime-format {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.night-breaks > * {
  border-bottom: 1px solid #dddedd;
}
