/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  
  --ion-background-color: white;
  --ion-background-color-rgb: 255,255,255;

  --ion-color-primary: #1f83b3;

  --ion-toolbar-opacity: 1;

  --opacity-scale: 1;
  --opacity: 1;
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}